<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/biblioteca.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <div>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>

      <div>

      </div>

      <div class="icone-page" style="margin-left: 60px;">
        <img src="/assets/icones/icones_branco/ICONE_home_casinha_BRANCO1.svg" alt="">
      </div>

      <div class="input-busca">
        <input placeholder="Buscar" />
      </div>

      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <main class="principal-content secundario">

      <section class="secao-infantil">

        <div class="livros-infantil">
          <div class="livro">
            <a href="">
              <p class="titulo-indica">
                Continuar Lendo
              </p>
              <div style="position: relative">
                <img src="/assets/lebreetartaruga.png" alt="">

                <img class="iconeavanca" src="/assets/icones/botao_avancarBranco.png" alt="">

              </div>
          </div>
          </a>

          <div class="separador">
          </div>

          <a href="">
            <div class="livro">
              <p class="titulo-indica">
                Professor Indica
              </p>
              <div style="position: relative">
                <img src="/assets/pequenoprincipe.jpg" alt="">

                <img class="iconeavanca" src="/assets/icones/botao_avancarBranco.png" alt="">

              </div>
            </div>
          </a>

          <div class="separador">
          </div>

          <a href="">
            <div class="livro">
              <p class="titulo-indica">
                Amigo Indica
              </p>
              <div style="position: relative">
                <img src="/assets/bichosdaminhacasa.jpg" alt="">

                <img class="iconeavanca" src="/assets/icones/botao_avancarBranco.png" alt="">
              </div>
            </div>
          </a>

          <div class="separador">
          </div>

          <a href="">
            <p class="titulo-indica">
              Compartilhar
            </p>
            <div class="compartilhar">
              <img src="/assets/icones/icone_compartilhar.svg" alt="">
            </div>
          </a>
        </div>

        <div class="interacao-infantil">
          <div class="avatar-otto">
            <a href="/buscaporvoz">
              <img src="./assets/icones/ottobuscador.png" alt="">
            </a>
            <p>Buscar</p>
          </div>

          <div class="container-menu-infantil">
            <div class='container-infantil'>
              <a href="/meus-ebooks">
                <div class='menu-infantil'>
                  <img src="./assets/icones/icone_meuslivros.svg" alt="">
                  <p>
                    Meus Ebooks
                  </p>
                </div>
              </a>
              <a href="#">
                <div class='menu-infantil'>
                  <img src="/assets/icones/icone_atividades.svg" alt="">
                  <p>
                    Atividades
                  </p>
                </div>
              </a>
              <a href="#">
                <div class='menu-infantil'>
                  <img src="/assets/icones/icone_floresta.svg" alt="">
                  <p>
                    Minha Floresta
                  </p>
                </div>
              </a>
              <a href="/stickers">
                <div class='menu-infantil'>
                  <img src="/assets/icones/icone-sticker.svg" alt="">
                  <p>
                    Adesivos
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <section class="secao-categoria">
          <h1 class="titulo-categoria">Categorias</h1>
          <div class='container-categoria'>
            <a href="">
              <div class='item-categoria-destaque' style="margin-right: 40px">
                <div class="indicado-com-icone">
                  <img src="/assets/icones/icone_indicados.png" alt="">
                  <p>
                    Indicados
                  </p>
                </div>
              </div>
            </a>
            <a href="">
              <div class='item-categoria-destaque'>
                <div class="indicado-com-icone">

                  <img src="/assets/icones/icones_branco/contos_iconesbranco.svg" alt="">
                  <p>
                    Contos
                  </p>
                </div>
              </div>
            </a>
            <a href="">
              <div class='item-categoria-destaque'>
                <div class="indicado-com-icone">

                  <img src="/assets/icones/icones_branco/literatura_iconebranco.svg" alt="">
                  <p>
                    Literatura
                  </p>

                </div>
              </div>
            </a>
            <a href="">
              <div class='item-categoria-destaque'>
                <div class="indicado-com-icone">
                  <img src="/assets/icones/icones_branco/educacao_iconebranco.svg" alt="">
                  <p>
                    Educação
                  </p>
                </div>

              </div>
            </a>
            <a href="">
              <div class='item-categoria-destaque'>
                <div class="indicado-com-icone">
                  <img src="/assets/icones/categorias_icone.png" alt="">
                  <p>
                    Outras Categorias
                  </p>
                </div>
              </div>
            </a>

          </div>

        </section>

        <section class="Favoritos">
          <h1 class="titulo-secao-inicial">Trilha de Leitura do mês</h1>
          <div class='container-meus-livros'>
            <div class="icone-livros">
              <img src='./assets/livros/lebreetartaruga.png' />
              <div class="dados-livros">
                <div>
                  <p class="titulo">A Lebre e A Tartaruga</p>
                  <p class="autor"> Tiago de Melo Andrade</p>
                  <div class="tag">Livro</div>
                </div>

              </div>
            </div>
            <div>
              <img src='./assets/livros/bichosdaminhacasa.jpg' />
              <div class="dados-livros">
                <p class="titulo">Bichos da Minha Casa</p>
                <p class="autor">Ana Michaelis</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/milhistoriasmanuela.jpg' />
              <div class="dados-livros">
                <p class="titulo">As Mil e Uma Histórias de Manuela</p>
                <p class="autor">Marcelo Maluf</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div class="icone-livros">
              <img src='./assets/livros/pequenoprincipe.jpg' />
              <div class="dados-livros">
                <div>
                  <p class="titulo">O Pequeno Príncipe</p>
                  <p class="autor">Antoine de Saint-Exupéry</p>
                  <div class="tag">Livro</div>
                </div>


              </div>
            </div>
          </div>
        </section>
        <section class="Favoritos">
          <h1 class="titulo-secao-inicial">Lançamento do mês</h1>
          <div class='container-meus-livros'>
            <div>
              <img src='./assets/livros/livro1.png' />
              <div class="dados-livros">
                <p class="titulo">Tire O Pé Do Meu Direito</p>
                <p class="autor"> Tiago de Melo Andrade</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/livro2.png' />
              <div class="dados-livros">
                <p class="titulo">A bola de folhas de bananeira</p>
                <p class="autor">Katie Smith Milway</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/lebreetartaruga.png' />
              <div class="dados-livros">
                <p class="titulo">A Lebre e A Tartaruga</p>
                <p class="autor"> Tiago de Melo Andrade</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/bichosdaminhacasa.jpg' />
              <div class="dados-livros">
                <p class="titulo">Bichos da Minha Casa</p>
                <p class="autor">Ana Michaelis</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/livro3.png' />
              <div class="dados-livros">
                <p class="titulo">Querido mundo</p>
                <p class="autor">Bana Alabed</p>
                <div class="tag">Livro</div>
              </div>
            </div>
            <div>
              <img src='./assets/livros/milhistoriasmanuela.jpg' />
              <div class="dados-livros">
                <p class="titulo">As Mil e Uma Histórias de Manuela</p>
                <p class="autor">Marcelo Maluf</p>
                <div class="tag">Livro</div>
              </div>
            </div>
          </div>
        </section>

    </main>


  </div>

</body>

</html>