<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <div>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="input-busca">
        <input />
      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <nav class='container-menu'>
      <a href="/"> Inicio </a>
      <a href="/categorias"> Categorias </a>
      <a href="/banca.html"> Banca </a>
      <a href="/indicados"> Indicados </a>
      <a href="/conquista"> Conquista </a>
      <a href="/atividades"> Atividades </a>
      <a href="/favoritos"> Favoritos </a>
      <a href="/meus-ebooks"> Meus-Ebooks </a>
      <div class="empty"></div>
      <div class="empty"></div>
    </nav>

    <main class="principal-content">
      <div class='banner-content'>
        <a>
          <div class='link'>
            <img src=./assets/banner.png /></img>
            <span> Compartilhe seus livros preferidos com os leitores da Árvore</span>
          </div>
        </a>
      </div>

      <section>
        <section class="secao-livro">
          <h1 class="titulo-secao">Destaques</h1>
          <div class='container-livros'>
            <img src='./assets/livros/livro1.png' />
            <img src='./assets/livros/livro2.png' />
            <img src='./assets/livros/livro3.png' />
            <img src='./assets/livros/livro4.png' />
            <img src='./assets/livros/livro5.png' />
            <img src='./assets/livros/livro6.png' />
          </div>
        </section>

        <section class="secao-livro">
          <h1 class="titulo-secao">Continuar Lendo</h1>
          <div class='container-livros'>
            <img src='./assets/livros/livro6.png' />
            <img src='./assets/livros/livro5.png' />
            <img src='./assets/livros/livro4.png' />
            <img src='./assets/livros/livro3.png' />
            <img src='./assets/livros/livro5.png' />
            <img src='./assets/livros/livro1.png' />
          </div>
        </section>

        <section class="secao-livro">
          <h1 class="titulo-secao">Coleções de Árvore</h1>
          <div class='container-livros'>
            <img src='./assets/livros/livro3.png' />
            <img src='./assets/livros/livro5.png' />
            <img src='./assets/livros/livro6.png' />
            <img src='./assets/livros/livro2.png' />
            <img src='./assets/livros/livro1.png' />
            <img src='./assets/livros/livro4.png' />
          </div>
        </section>



      </section>

    </main>


  </div>

</body>

</html>