<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/meus-ebooks.css">
</head>

<body>

  <header>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="icone-page">
        <img src="/assets/icones/icones_branco/ICONE_MEUS_LIVROS_BRANCO1.svg" alt="">

      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <nav class='container-menu'>
      <a href="/"> Inicio </a>
      <a href="/categorias"> Categorias </a>
      <a href="#"> Banca </a>
      <a href="/indicados"> Indicados </a>
      <a href="/conquista"> Conquista </a>
      <a href="/atividades"> Atividades </a>
      <a href="/favoritos"> Favoritos </a>
      <a href="/meus-ebooks"> Meus-Ebooks </a>
      <div class="empty"></div>
      <div class="empty"></div>
    </nav>
  </header>

  <main class="principal-content meus-ebooks">

    <section class="secao-livro">
      <div class="content-indicados">

        <h1 class="titulo-outros">Continuar Lendo</h1>
      </div>
      <div class="avatar-otto">
        <a href="/buscaporvoz">
          <img src="./assets/icones/ottobuscador.png" alt="">
        </a>
      </div>
      <div class='container-meus-livros'>
        <div>
          <img src='./assets/livros/livro1.png' />
          <div class="dados-livros">
            <p class="titulo">Tire O Pé Do Meu Direito</p>
            <p class="autor"> Tiago de Melo Andrade</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/livro2.png' />
          <div class="dados-livros">
            <p class="titulo">A bola de folhas de bananeira</p>
            <p class="autor">Katie Smith Milway</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/livro3.png' />
          <div class="dados-livros">
            <p class="titulo">Querido mundo</p>
            <p class="autor">Bana Alabed</p>
            <div class="tag">Livro</div>
          </div>
        </div>
      </div>
    </section>

    <section class="Favoritos">
      <h1 class="titulo-secao">Favoritos</h1>
      <div class='container-meus-livros'>
        <div>
          <img src='./assets/livros/lebreetartaruga.png' />
          <div class="dados-livros">
            <p class="titulo">A Lebre e A Tartaruga</p>
            <p class="autor"> Tiago de Melo Andrade</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/bichosdaminhacasa.jpg' />
          <div class="dados-livros">
            <p class="titulo">Bichos da Minha Casa</p>
            <p class="autor">Ana Michaelis</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/milhistoriasmanuela.jpg' />
          <div class="dados-livros">
            <p class="titulo">As Mil e Uma Histórias de Manuela</p>
            <p class="autor">Marcelo Maluf</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/pequenoprincipe.jpg' />
          <div class="dados-livros">
            <p class="titulo">O Pequeno Príncipe</p>
            <p class="autor">Antoine de Saint-Exupéry</p>
            <div class="tag">Livro</div>
          </div>
        </div>
      </div>
    </section>
    <section class="Favoritos">
      <h1 class="titulo-secao">Meus Livros</h1>
      <div class='container-meus-livros'>
        <div>
          <img src='./assets/livros/livro1.png' />
          <div class="dados-livros">
            <p class="titulo">Tire O Pé Do Meu Direito</p>
            <p class="autor"> Tiago de Melo Andrade</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/livro2.png' />
          <div class="dados-livros">
            <p class="titulo">A bola de folhas de bananeira</p>
            <p class="autor">Katie Smith Milway</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/lebreetartaruga.png' />
          <div class="dados-livros">
            <p class="titulo">A Lebre e A Tartaruga</p>
            <p class="autor"> Tiago de Melo Andrade</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/bichosdaminhacasa.jpg' />
          <div class="dados-livros">
            <p class="titulo">Bichos da Minha Casa</p>
            <p class="autor">Ana Michaelis</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/livro3.png' />
          <div class="dados-livros">
            <p class="titulo">Querido mundo</p>
            <p class="autor">Bana Alabed</p>
            <div class="tag">Livro</div>
          </div>
        </div>
        <div>
          <img src='./assets/livros/milhistoriasmanuela.jpg' />
          <div class="dados-livros">
            <p class="titulo">As Mil e Uma Histórias de Manuela</p>
            <p class="autor">Marcelo Maluf</p>
            <div class="tag">Livro</div>
          </div>
        </div>
      </div>
    </section>
  </main>


  </div>

</body>

</html>