<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/stickers.css">
</head>

<body>

  <div>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="input-busca">
        <input />
      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <nav class='container-menu'>
      <a href="/"> Inicio </a>
      <a href="/categoria.html"> Categorias </a>
      <a href="/banca.html"> Banca </a>
      <a href="/indicados.html"> Indicados </a>
      <a href="/conquista.html"> Conquista </a>
      <a href="/atividades.html"> Atividades </a>
      <a href="/favoritos.html"> Favoritos </a>
      <a href="/meus-ebooks.html"> Meus-Ebooks </a>
      <div class="empty"></div>
      <div class="empty"></div>
    </nav>

    <main class="principal-content">
      <section class="window-sticker">
        <div class="dragstickers dropzone">
          Div dos Stickers
          <img class="sticker" src="/assets/otto.png" draggable="true" alt="">
          <img class="sticker" src="/assets/otto.png" draggable="true" alt="">
          <img class="sticker" src="/assets/otto.png" draggable="true" alt="">
          <img class="sticker" src="/assets/otto.png" draggable="true" alt="">
          <img class="sticker" src="/assets/otto.png" draggable="true" alt="">
        </div>
        <div class="dropstickers">
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
        </div>
      </section>

    </main>


  </div>
  <script src="/stickers.js" async="async"></script>

</body>

</html>