<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/stickers.css">
</head>

<body>

  <header>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="icone-page">
        <img src="/assets/icones/icones_branco/ICONE_ADESIVOS_BRANCO1.svg" alt="">

      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
  </header>

  <div class="icone-page busca">
    <a href="/">
      <img src="/assets/icones/botão_voltar.png" alt="">
    </a>
  </div>

  <main class="principal-content">
    <div class="instrucoes-adesivos">
      <h1>Adesivos</h1>
      <p>Otto está feliz com seus novos amigos. Continue lendo para conhecer outros amigos.</p>
      <p>Clique e arraste</p>
    </div>
    <section class="window-sticker">

      <div class="dragstickers dropzone">
        ADESIVOS
        <div class="separador"></div>
        <img class="sticker" src="/assets/ADESIVOS/adesivo_arara_azul.svg" draggable="true" alt="">
        <img class="sticker" src="/assets/ADESIVOS/adesivo_boto.svg" draggable="true" alt="">
        <img class="sticker" src="/assets/ADESIVOS/adesivo_tatu.svg" draggable="true" alt="">
        <img class="sticker" src="/assets/ADESIVOS/adesivo_guarana.svg" draggable="true" alt="">
        <img class="sticker" src="/assets/ADESIVOS/adesivo_jucara.svg" draggable="true" alt="">
        <img class="sticker" src="/assets/ADESIVOS/adesivo_vitoria.svg" draggable="true" alt="">

        <div class="separador"></div>
      </div>
      <div class="dropstickers">
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>
        <div class="dropzone"></div>

      </div>

    </section>

  </main>


  </div>
  <script src="/stickers.js" async="async"></script>

</body>

</html>