<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>

  <div>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="input-busca">
        <input />
      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <nav class='container-menu'>
      <a href="/"> Inicio </a>
      <a href="/categorias"> Categorias </a>
      <a href="#"> Banca </a>
      <a href="/indicados"> Indicados </a>
      <a href="/conquista"> Conquista </a>
      <a href="/atividades"> Atividades </a>
      <a href="/favoritos"> Favoritos </a>
      <a href="/meus-ebooks"> Meus-Ebooks </a>
      <div class="empty"></div>
      <div class="empty"></div>
    </nav>

    <main class="principal-content">
      <section>
        <section class="secao-livro">
          <div class="content-indicados">
            <h1 class="titulo-outros">Atividades</h1>
          </div>
          <div class="paragrafo">
            <p>
              Nenhuma atividade aplicada para você no momento.
            </p>
          </div>
        </section>


      </section>

    </main>


  </div>

</body>

</html>