<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Árvore</title>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/stickers.css">
</head>

<body>

  <div>
    <div class="container-banner">
      <div class="banner-logo">
        <a href="/">
          <img src='./assets/logo_arvore.svg'></img>
        </a>
      </div>
      <div class="input-busca">
        <input />
      </div>
      <div class="user-menu">
        <a>
          <div class="avatar">N</div>
          <span>Nome Aluno</span>
        </a>
      </div>
    </div>

    <nav class='container-menu'>
      <a href="/"> Inicio </a>
      <a href="/categorias"> Categorias </a>
      <a href="#"> Banca </a>
      <a href="/indicados"> Indicados </a>
      <a href="/conquista"> Conquista </a>
      <a href="/atividades"> Atividades </a>
      <a href="/favoritos"> Favoritos </a>
      <a href="/meus-ebooks"> Meus-Ebooks </a>
      <div class="empty"></div>
      <div class="empty"></div>
    </nav>

    <main class="principal-content">
      <div class="instrucoes-adesivos">
        <h1>Adesivos</h1>
        <p>Quanto mais você ler mais adesivos você vai ganhar pra colocar na floresta do Otto o macaco.</p>
        <p>Clique e arraste para colocar os adesivos no cenário</p>
      </div>
      <section class="window-sticker">

        <div class="dragstickers dropzone">
          ADESIVOS
          <div class="separador"></div>
          <img class="sticker" src="/assets/ADESIVOS/adesivo_arara_azul.svg" draggable="true" alt="">
          <img class="sticker" src="/assets/ADESIVOS/adesivo_boto.svg" draggable="true" alt="">
          <img class="sticker" src="/assets/ADESIVOS/adesivo_tatu.svg" draggable="true" alt="">
          <img class="sticker" src="/assets/ADESIVOS/adesivo_guarara.svg" draggable="true" alt="">
          <img class="sticker" src="/assets/ADESIVOS/adesivo_jucara.svg" draggable="true" alt="">
          <img class="sticker" src="/assets/ADESIVOS/adesivo_vitoria.svg" draggable="true" alt="">

          <div class="separador"></div>
        </div>
        <div class="dropstickers">
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>
          <div class="dropzone"></div>

        </div>

      </section>

    </main>


  </div>
  <script src="/stickers.js" async="async"></script>

</body>

</html>