/* Categoria */
/* Destaque */
.secao-infantil {
  margin-bottom: 100px;
  display: grid;
  width: 1200px;
  grid-template-rows: 50% 50%;
  margin: 0 auto;
}

.livros-infantil {
  display: flex;  
  margin: 0 auto;
  margin-bottom: 100px;
  height: 280px;
}

.livros-infantil a {
  text-decoration: none;
}

.livros-infantil a .titulo-indica{
  font-size: 20px;
  color: #524666;
  margin-bottom: 5px;  
}

.livro{
  width: 180px;
  height: 220px;
  margin-right: 19px;    
}

.livro img {
  width: 100%;
  height: 280px;
  border-radius: 5px;
}

.livro img.iconeavanca {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 175px;
  top: 120px;
}

.livro img.iconevolta {
  width: 20px;
  height: 20px;
  position: absolute;  
  right: 175px;
  top: 120px;
}


.compartilhar {  
  border-radius: 5px;
  align-items: center;
  padding-top: 85px;
  height: 280px;
  background-color: #CFBAFF;
}

.interacao-infantil {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.interacao-infantil img {
  width: 150px;  
}

.avatar-otto {
  text-align: right;
  margin-right: 50px;
  opacity: 1;
}

.avatar-otto:hover {
  opacity: 0.8;
}


.container-infantil{
  display: flex;
  justify-content: space-between;   
}

.container-infantil a{
  text-decoration: none;
  /*margin-right: 10px;*/
}

.container-infantil a:hover .menu-infantil{
  background-color: rgba(145, 206, 199, 0.274);  
}

.menu-infantil {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 180px;
  height: 180px;*/
  /*background-color: #8553F4;*/
  border-radius: 5px;
}

.menu-infantil p{
  color: #74DBCF; 
  font-weight: bold;
  font-size: 20px;
}

.container-infantil p{
  font-size: 15px;
  line-height: 24px;
}

.separador {
  background-color: black;
  width: 1px;
  height: 50px;
  margin-top: 130px;
  margin-right: 19px;
}
